<h1>Search Query #<%= @search_query.id %><h1>

<h2><%= @search_query.name %></h2>
<i><%= @search_query.url %></i>

<p>
  <%= @search_query.description %>
</p>

<p>
 <b>Keyword:</b> <%= @search_query.keyword %>
</p>
