<h1 class="title is-3"><%= @search_query.name %></h1>
<h2 class="subtitle is-5">Search Query #<%= @search_query.id %></h2>

<table class="table is-hoverable is-striped">
  <tbody>
    <tr>
      <th>Name</th>
      <td><%= @search_query.name %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= @search_query.description %></td>
    </tr>
    <tr>
      <th>URL</th>
      <td><%= @search_query.url %></td>
    </tr>
    <tr>
      <th>Search keyword</th>
      <td><%= @search_query.keyword %></td>
    </tr>
    <tr>
      <th>Known variants (also searched)</th>
      <td><%= @search_query.variants %></td>
    </tr>
  </tbody>
</table>
